body {
	color: #444;
}

.title {
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 1px 1px #fff, 2px 2px #444;
}

.title,
.subtitle {
	text-align: center;
}

.subtitle {
	text-decoration: underline;
	word-wrap: normal;
}

.paragraph {
	text-indent: 3em;
	text-align: justify;
}

.paragraph:first-letter {
	font-size: 20px;
}